AZURE_OPENAI_KEY=G6JnohuR1IVnuKc3KXLMQCARcICdHMuMEdvGVCiRU79KndEpTlVVJQQJ99BEACfhMk5XJ3w3AAAAACOGieNS
AZURE_OPENAI_ENDPOINT=https://beg-it-ticket-classifie-resource.cognitiveservices.azure.com/openai/deployments/beg-it-ticket-classifier/chat/completions?api-version=2025-01-01-preview